/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom */

*,
*::before,
*::after{
    box-sizing: border-box;
}
/* General */
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 32px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* fontfamily */
/*  */

body{
    font-family: 'Karla', sans-serif;
}
header{
   height: 70px;
}
h1{
    font-family: 'DM Serif Display', serif;
    color: rgb(45,38,64);
    font-size: 40px;
}
.link{
    margin: 0 30px;
}
.head-link{
    text-decoration: none;
    font-size: 20px;
    color: grey;
    font-family: sans-serif;
}
.head-btn{
    font-size: 15px;
    color: gray;
    padding: 10px 5px;
    border-radius: 7%;
    border: 1px solid grey;
    background-color: white;
}
/* section-1 */
.color{
    background-color: rgb(45,38,64);
    margin-bottom: 100px;
    padding: 1px 0;
}
.insurance{
    color: white;
    width: 40%;
    padding: 50px 0;
    text-align: start;
    position: relative;
    margin-top: 20px;
   
}
.insur-line{
    width: 200px;
   margin: 0;
}
h2{
    font-weight: 100;
    font-family: 'DM Serif Display', serif;
    font-size: 70px;
    margin: 40px 0;
}
p{
    line-height: 30px;
}
.insur-btm{
    color: white;
    background-color: rgb(45,38,64);
    margin: 30px 0;
}
.img-blur{
    position: absolute;
   right: 1px;
   bottom: 1px;
   margin-right: 170px;
   
}
.about{
    margin-top: 200px;
    padding-bottom: 50px;
   
}
.article-about{
    width: 47%;
    text-align: start;
    font-size: 20px;
}
h3{
    font-family: 'DM Serif Display', serif;
    font-size: 50px;
    margin-bottom: 30px;
}
.about-btn{
    font-size: 20px;
    padding: 13px;
    margin-top: 30px;
}
/* section-3 */
.different{
    text-align: start;
    padding: 40px 0;
}
.process{
    width: 25%;
}
.line-diff{
    width: 150px;
    border: none;
    background-color: rgb(224, 222, 222);
    height: 3px;
    margin-left: 0;
    margin: 40px 0;
}
h4{
   font-size: 25px;
    font-family: 'DM Serif Display', serif;
margin: 20px 0;
}
.div-setting{
    background-color: rgb(138,180,240);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 25px;
}
.setting{
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;

}
/* section-4 */
.find{
    color: white;
    line-height: 80px;
    background-color: rgb(45,38,64);

}
.find-work{
    margin: 30px;
}
.find-btn{
    color: white;
    background-color: rgb(45,38,64);
    border: 1px solid white;
    width: 160px;
    height: 50px;
    border-radius: 5px;
    margin: 30px;
}
/* section-5 */
.contactus{
    margin-top: 70px;
}
.icon{
    font-size: 35px;
    color: grey;
}
.us{
    text-align: center;
    margin-bottom: 30px;
}
/* footer */
footer{
    text-align: center;
    background-color: rgb(45,38,64);
   color: rgb(145, 134, 173);
   font-size: 20px;
   padding: 30px 0;
}

